In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
!dir

Dockerfile  ny_taxi_postgres_data  yellow_tripdata_2021-01.csv
main.py     upload-data.ipynb

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITH TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITH TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [10]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [11]:
df = next(df_iter)

In [12]:
len(df)

29657

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:43:30+00:00,2021-01-01 01:11:06+00:00,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0,NaN
1,1,2021-01-01 00:15:48+00:00,2021-01-01 00:31:01+00:00,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0,NaN
2,2,2021-01-01 00:19:57+00:00,2021-01-01 00:43:03+00:00,3.0,10.74,1.0,N,264,231,1,32.5,0.5,0.5,4.00,0.00,0.3,40.30,2.5,NaN
3,2,2021-01-01 00:44:58+00:00,2021-01-01 01:07:41+00:00,2.0,5.85,1.0,N,249,238,1,21.5,0.5,0.5,5.06,0.00,0.3,30.36,2.5,NaN
4,2,2021-01-01 00:06:11+00:00,2021-01-01 00:23:40+00:00,1.0,8.06,1.0,N,75,264,1,24.5,0.5,0.5,5.66,0.00,0.3,33.96,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29652,2,2021-01-15 13:36:15+00:00,2021-01-15 14:14:36+00:00,1.0,10.39,1.0,N,142,181,1,36.5,0.0,0.5,7.96,0.00,0.3,47.76,2.5,NaN
29653,2,2021-01-15 13:15:03+00:00,2021-01-15 13:36:36+00:00,1.0,6.12,1.0,N,48,87,1,21.5,0.0,0.5,7.44,0.00,0.3,32.24,2.5,NaN
29654,2,2021-01-15 13:08:09+00:00,2021-01-15 13:31:36+00:00,1.0,10.11,1.0,N,186,138,1,30.0,0.0,0.5,9.85,6.12,0.3,49.27,2.5,NaN
29655,2,2021-01-15 13:34:50+00:00,2021-01-15 13:35:52+00:00,1.0,0.21,1.0,N,249,249,1,3.0,0.0,0.5,1.26,0.00,0.3,7.56,2.5,NaN
29656,2,2021-01-15 13:47:37+00:00,2021-01-15 14:06:01+00:00,1.0,7.91,1.0,N,231,140,1,24.5,0.0,0.5,5.56,0.00,0.3,33.36,2.5,NaN

In [15]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

657

In [16]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 1.38 s, sys: 11.9 ms, total: 1.4 s
Wall time: 2.81 s

657

In [17]:
from time import time

In [18]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

StopIteration:

In [19]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-12-03 06:05:54--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.53.88, 52.216.212.88, 52.217.138.200, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.53.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-12-03 06:05:54 (150 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [20]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [21]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [22]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265